.jumbotron {
   padding-top: 6rem;
   background-color: #e2edff;
}

#skills {
   background-color: #e2edff;
}

section {
   padding-top: 5rem;
}

.gallery-img {
   width: 100%;
}

#gallery .row > * {
   padding: 1px;
}

.card-shadow {
   box-shadow: 0px 30px 10px -20px rgba(0, 0, 0, .75);
   transition: 0.3s;
}





